*
{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

.ItemDetalle{
    width: 250px;
    height: 400px;
    margin-top: 2rem; 
}

 .text {
    font-size: 2rem;
    font-weight: 500;
    color: whitesmoke;
    font-style: oblique;
    text-decoration: underline;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP9sD15ZFuaVeA0sZuN4e67KkRLwZoVxlnDw&usqp=CAU');
 }

 .fondo{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP9sD15ZFuaVeA0sZuN4e67KkRLwZoVxlnDw&usqp=CAU');
 }